<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div></div>
        <header>
            <span id="product_name_text" href="base.html">TenderExp</span>
            <button id="login_button">Войти</button>
        </header>
        <div id="main_div_frame">
            <div id="main_div_text">
                <span>lorem ipsum</span>
                <span>lorem ipsum 2</span>
            </div>
        </div>
        <div class="footer">
            <span>Текст описания сайта</span>
        </div>
    </body>
</html>