<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div>
        <div id = "header">
            <a id="product_name_text" href="index.html">TenderExp</a>
            <div> <button id="login_button"><a  href = "login.html"> Войти     </a></button>
            <button id="login_button"><a  href = "signin.html"> Регистрация </a></button></div>
        </div>
        <div id="main_div_frame">
            <div id="main_div_text">
                <center><p id ="big"><a  href = "tandir.html" target="_blank" rel="noopener noreferrer"> Тандыр</a></p></center></center>
                <p class="gl_txt">О нас </p>
                <p class="nr_txt">Сайт предоставляет удобную форму для конкурсных закупок товаров. Компания предоставляет тендеры, на которых ищет исполнителей. Если вы можете выполнить поставленную задачу, то просто кликните на нужный тендер и заполните анкету.</p>
                <p class="gl_txt">F.A.Q.</p>
                <p class="que_txt">Как стать частью нашей команды?</p>
                <p class="nr_txt">Нажмите на понравившийся тендер, заполните форму. Ожидайте. Возможно, именно вас выберут для реализации задач тендера.</p>
                <p class="que_txt">Кто может выполнять тендеры?</p>
                <p class="nr_txt">Только юридические лица.</p>
                <p class="que_txt">Обязательно ли иметь опыт?</p>
                <p class="nr_txt"> Нет, не обязательно. Но если он есть, то шанс, что выберут именно вас на выполнение тендера выше.</p>
                <p class="gl_txt">Контакты</p>
                <p class="nr_txt">Максимов Павел Александрович – HR специалист </p>
                <p class="nr_txt">7(426)943-93-86</p>
                <p class="nr_txt">Михайлова Виктория Дмитриевна – администратор</p>
                <p class="nr_txt">7(2140)961-28-99</p>
                <p id="kostil">0</p>
            </div>
        </div>
        <div id="footer">
            <div id="footer_inside">
                <div id="footer_inside_halal"><p>©Nonsenticus - команда энтузиастов. Вэб(ахуеть)-разработка</p></div>
            <span>Связь:</span>
            <a class="icon.icon-github-mark-small" href="https://github.com/myrzh/" target="_blank" rel="noopener noreferrer">
                <span class="visually-hidden">Nonsenticus on GitHub</span>
            </a>


            </div>
        </div>
    </body>
</html>