<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div>
        <div id = "header">
            <a id="product_name_text" href = "index.html">TenderExp</a>
            <div> <button id="login_button"><a  href = "login.html"> Войти </a></button>
            <button id="login_button"><a  href = "signin.html"> Регистрация </a></button></div>
        </div>
        <div id="main_div_frame">
            <div id="main_div_text">
                <p id="kostil2">ab</p>
            </div>
        </div>
        <div id="footer">
            <div id="footer_inside">
                <div id="footer_inside_halal"><p>©Nonsenticus - команда энтузиастов. Вэб(ахуеть)-разработка</p></div>
            <span>Связь: sobaka_ylibaka@gmail.com</span>
            </div>
        </div>
    </body>
</html>