{% extends "base.html" %}
<center><p id ="big"><a  href = "tandir.html"> Тандыр</a></p></center></center>
                <p class="gl_txt">О нас </p>
                <p class="nr_txt">Сайт предоставляет удобную форму для конкурсных закупок товаров. Компания предоставляет тендеры, на которых ищет исполнителей. Если вы можете выполнить поставленную задачу, то просто кликните на нужный тендер и заполните анкету.</p>
                <p class="gl_txt">F.A.Q.</p>
                <p class="que_txt">Как стать частью нашей команды?</p>
                <p class="nr_txt">Нажмите на понравившийся тендер, заполните форму. Ожидайте. Возможно, именно вас выберут для реализации задач тендера.</p>
                <p class="que_txt">Кто может выполнять тендеры?</p>
                <p class="nr_txt">Только юридические лица.</p>
                <p class="que_txt">Обязательно ли иметь опыт?</p>
                <p class="nr_txt"> Нет, не обязательно. Но если он есть, то шанс, что выберут именно вас на выполнение тендера выше.</p>
                <p class="gl_txt">Контакты</p>
                <p class="nr_txt">Максимов Павел Александрович – HR специалист </p>
                <p class="nr_txt">7(426)943-93-86</p>
                <p class="nr_txt">Михайлова Виктория Дмитриевна – администратор</p>
                <p class="nr_txt">7(2140)961-28-99</p>
                <p id="kostil1">.</p>