* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(71, 120, 224);
}

p {
    color: rebeccapurple;
    font-size: 24pt;
    font-family: consolas;
}

#header {
    margin: 0 2rem;
    border-bottom: 2px solid #858585;
    display: flex;
    justify-content: space-between;
}

#product_name_text {
    font-size: 30pt;
    font-family: consolas;
}

#login_button {
    border: none;
    background-color: #78869f;
    font-size: 30pt;
    font-family: consolas;
}

#main_div_text {
    margin: 0 11px;
    text-align: justify;
}

#main_div_frame {
    margin-left: 15%;
    display: flex;
    /*justify-content: flex-start*/ 
    width: 60%;
    height: 60%;
    background-color: white;
}

#footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 30px;
    padding: 2 rem 1 rem;
    background-color: #343434;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 3.5rem;
    width: 100%;
}

#footer_inside {
    
}
