* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(201,208,223);
}

header {
    display: flex;
    justify-content: space-between;
}

#product_name_text {
    font-size: 30pt;
    font-family: consolas;
}

#login_button {
    border: none;
    background-color: #78869f;
    font-size: 30pt;
    font-family: consolas;
}

#main_div_text {
    margin: 0 11px;
    text-align: justify;
}

#main_div_frame {
    margin-left: 15%;
    display: flex;
    /*justify-content: flex-start*/ 
    width: 60%;
    height: 60%;
    background-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 30px;
    padding: 16px 20px 0 20px;
    background-color: grey;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 3.5rem;
    width: 100%;
}
